<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Inicio</title>
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
    <!-- Estilos CSS -->
    <link rel="stylesheet" href="/static/Inicio.css">
    <!-- Favicon -->
    <link rel="icon" href="/static/rastreo.png" type="image/x-icon">
    <script>
        window.addEventListener('load', function() {
          const sliderContainer = document.querySelector('.slider-container');
          const sliderItems = document.querySelectorAll('.slider-item');
          let currentIndex = 0;
          const containerWidth = sliderContainer.offsetWidth;

          setInterval(function() {
            currentIndex = (currentIndex + 1) % sliderItems.length;
            sliderContainer.scrollLeft = currentIndex * containerWidth;
          }, 7000); // Cambia cada 7 segundos (7000 milisegundos)
        });
    </script>
    <script>
        function openBannner() {
            document.getElementById("bannner").style.display = "block";
        }

        function register() {
            // Aquí puedes agregar la lógica para el registro
            alert("Redirigiendo a la página de registro...");
        }

        function login() {
            // Aquí puedes agregar la lógica para el inicio de sesión
            alert("Redirigiendo a la página de inicio de sesión...");
        }

        function closeBannner() {
            var banner = document.getElementById('bannner');
            banner.style.display = 'none';
        }
    </script>
</head>
<body>

<!--
  - HEADER
-->

<header>

    <div class="header-top">

        <div class="container">

            <ul class="header-social-container">

                <li>
                    <a href="#" class="social-link">
                        <ion-icon name="logo-facebook"></ion-icon>
                    </a>
                </li>

                <li>
                    <a href="#" class="social-link">
                        <ion-icon name="logo-twitter"></ion-icon>
                    </a>
                </li>

                <li>
                    <a href="#" class="social-link">
                        <ion-icon name="logo-instagram"></ion-icon>
                    </a>
                </li>

                <li>
                    <a href="#" class="social-link">
                        <ion-icon name="logo-linkedin"></ion-icon>
                    </a>
                </li>

            </ul>

            <div class="header-alert-news">
                <p>
                    Cancele su reserva gratis antes de las 24 horas
                </p>
            </div>

            <div class="header-top-actions">

                <select name="currency">
                    <option value="usd">USD &dollar;</option>
                    <option value="ars">ARS &#36;</option>
                </select>

                <select name="language">
                    <option value="es-ES">Espa&ntilde;ol</option>
                    <option value="en-US">English</option>
                </select>

            </div>

        </div>

    </div>

    <div class="header-main">

        <div class="container">

            <a href="#" class="header-logo">
                <img src="/static/imgInicio/logo.png" alt="Franco Armando Proyecto" width="130" height="70">
            </a>

            <div class="header-search-container">

                <input type="search" name="search" class="search-field" placeholder="¿A dónde vas?">

                <button class="search-btn">
                    <ion-icon name="search-outline"></ion-icon>
                </button>

            </div>

            <div class="header-user-actions">

                <button class="action-btn" onclick="openBannner()">
                    <ion-icon name="person-outline"></ion-icon>
                </button>

                <button class="action-btn">
                    <ion-icon name="heart-outline"></ion-icon>
                    <span class="count">100</span>
                </button>

                <button class="action-btn">
                    <ion-icon name="bag-handle-outline"></ion-icon>
                    <span class="count">0</span>
                </button>

            </div>

            <div class="bannner" id="bannner">
                <button class="close-btn" onclick="closeBannner()">X</button>
                <p>¿Quieres registrarte o iniciar sesión?</p>
                <hr>
                <center><button onclick="register()">Registrarme</button></center>
                <center><button onclick="login()">Iniciar sesión</button></center>
            </div>

        </div>

    </div>

    <nav class="desktop-navigation-menu">

        <div class="container">

            <ul class="desktop-menu-category-list">

                <li class="menu-category">
                    <a href="#" class="menu-title">Estadias</a>
                </li>

                <li class="menu-category">
                    <a href="#" class="menu-title">Vuelos</a>

                    <div class="dropdown-panel">

                        <ul class="dropdown-panel-list">

                            <li class="menu-title">
                                <a href="#">Autos</a>
                            </li>

                            <li class="panel-list-item">
                                <a href="#">Taxis</a>
                            </li>

                            <li class="panel-list-item">
                                <a href="#">Laptop</a>
                            </li>

                            <li class="panel-list-item">
                                <a href="#">Camera</a>
                            </li>

                            <li class="panel-list-item">
                                <a href="#">Tablet</a>
                            </li>

                            <li class="panel-list-item">
                                <a href="#">Headphone</a>
                            </li>

                            <li class="panel-list-item">
                                <a href="#">
                                    <img src="./assets/images/electronics-banner-1.jpg" alt="headphone collection" width="250"
                                         height="119">
                                </a>
                            </li>

                        </ul>

                        <ul class="dropdown-panel-list">

                            <li class="menu-title">
                                <a href="#">Alquiler de autos</a>
                            </li>

                            <li class="panel-list-item">
                                <a href="#">Formal</a>
                            </li>

                            <li class="panel-list-item">
                                <a href="#">Casual</a>
                            </li>

                        </ul>

                        <ul class="dropdown-panel-list">

                            <li class="menu-title">
                                <a href="#">Alquiler de taxis</a>
                            </li>

                            <li class="panel-list-item">
                                <a href="#">Formal</a>
                            </li>

                            <li class="panel-list-item">
                                <a href="#">Casual</a>
                            </li>
                        </ul>
                    </div>
                </li>

                <li class="menu-category">
                    <a href="#" class="menu-title">Alquiler de autos</a>

                    <ul class="dropdown-list">

                        <li class="dropdown-item">
                            <a href="#">Shirt</a>
                        </li>
                    </ul>
                </li>

                <li class="menu-category">
                    <a href="#" class="menu-title">Alquiler de taxis</a>

                    <ul class="dropdown-list">

                        <li class="dropdown-item">
                            <a href="#">Dress & Frock</a>
                        </li>

                    </ul>
                </li>
            </ul>
        </div>
    </nav>

    <div class="mobile-bottom-navigation">

        <button class="action-btn" data-mobile-menu-open-btn>
            <ion-icon name="menu-outline"></ion-icon>
        </button>

        <button class="action-btn">
            <ion-icon name="bag-handle-outline"></ion-icon>

            <span class="count">0</span>
        </button>

        <button class="action-btn">
            <ion-icon name="home-outline"></ion-icon>
        </button>

        <button class="action-btn">
            <ion-icon name="heart-outline"></ion-icon>

            <span class="count">0</span>
        </button>

        <button class="action-btn" data-mobile-menu-open-btn>
            <ion-icon name="grid-outline"></ion-icon>
        </button>

    </div>

    <nav class="mobile-navigation-menu  has-scrollbar" data-mobile-menu>

        <div class="menu-top">
            <h2 class="menu-title">Menu</h2>

            <button class="menu-close-btn" data-mobile-menu-close-btn>
                <ion-icon name="close-outline"></ion-icon>
            </button>
        </div>

        <ul class="mobile-menu-category-list">

            <li class="menu-category">
                <a href="#" class="menu-title">Home</a>
            </li>

            <li class="menu-category">

                <button class="accordion-menu" data-accordion-btn>
                    <p class="menu-title">Men's</p>

                    <div>
                        <ion-icon name="add-outline" class="add-icon"></ion-icon>
                        <ion-icon name="remove-outline" class="remove-icon"></ion-icon>
                    </div>
                </button>

                <ul class="submenu-category-list" data-accordion>

                    <li class="submenu-category">
                        <a href="#" class="submenu-title">Shirt</a>
                    </li>

                    <li class="submenu-category">
                        <a href="#" class="submenu-title">Shorts & Jeans</a>
                    </li>

                    <li class="submenu-category">
                        <a href="#" class="submenu-title">Safety Shoes</a>
                    </li>

                    <li class="submenu-category">
                        <a href="#" class="submenu-title">Wallet</a>
                    </li>

                </ul>

            </li>

            <li class="menu-category">

                <button class="accordion-menu" data-accordion-btn>
                    <p class="menu-title">Women's</p>

                    <div>
                        <ion-icon name="add-outline" class="add-icon"></ion-icon>
                        <ion-icon name="remove-outline" class="remove-icon"></ion-icon>
                    </div>
                </button>

                <ul class="submenu-category-list" data-accordion>

                    <li class="submenu-category">
                        <a href="#" class="submenu-title">Dress & Frock</a>
                    </li>

                    <li class="submenu-category">
                        <a href="#" class="submenu-title">Earrings</a>
                    </li>

                    <li class="submenu-category">
                        <a href="#" class="submenu-title">Necklace</a>
                    </li>

                    <li class="submenu-category">
                        <a href="#" class="submenu-title">Makeup Kit</a>
                    </li>

                </ul>

            </li>

            <li class="menu-category">

                <button class="accordion-menu" data-accordion-btn>
                    <p class="menu-title">Jewelry</p>

                    <div>
                        <ion-icon name="add-outline" class="add-icon"></ion-icon>
                        <ion-icon name="remove-outline" class="remove-icon"></ion-icon>
                    </div>
                </button>

                <ul class="submenu-category-list" data-accordion>

                    <li class="submenu-category">
                        <a href="#" class="submenu-title">Earrings</a>
                    </li>

                    <li class="submenu-category">
                        <a href="#" class="submenu-title">Couple Rings</a>
                    </li>

                    <li class="submenu-category">
                        <a href="#" class="submenu-title">Necklace</a>
                    </li>

                    <li class="submenu-category">
                        <a href="#" class="submenu-title">Bracelets</a>
                    </li>

                </ul>

            </li>

            <li class="menu-category">

                <button class="accordion-menu" data-accordion-btn>
                    <p class="menu-title">Perfume</p>

                    <div>
                        <ion-icon name="add-outline" class="add-icon"></ion-icon>
                        <ion-icon name="remove-outline" class="remove-icon"></ion-icon>
                    </div>
                </button>

                <ul class="submenu-category-list" data-accordion>

                    <li class="submenu-category">
                        <a href="#" class="submenu-title">Clothes Perfume</a>
                    </li>

                    <li class="submenu-category">
                        <a href="#" class="submenu-title">Deodorant</a>
                    </li>

                    <li class="submenu-category">
                        <a href="#" class="submenu-title">Flower Fragrance</a>
                    </li>

                    <li class="submenu-category">
                        <a href="#" class="submenu-title">Air Freshener</a>
                    </li>

                </ul>

            </li>

            <li class="menu-category">
                <a href="#" class="menu-title">Blog</a>
            </li>

            <li class="menu-category">
                <a href="#" class="menu-title">Hot Offers</a>
            </li>

        </ul>

        <div class="menu-bottom">

            <ul class="menu-category-list">

                <li class="menu-category">

                    <button class="accordion-menu" data-accordion-btn>
                        <p class="menu-title">Language</p>

                        <ion-icon name="caret-back-outline" class="caret-back"></ion-icon>
                    </button>

                    <ul class="submenu-category-list" data-accordion>

                        <li class="submenu-category">
                            <a href="#" class="submenu-title">Espa&ntilde;ol</a>
                        </li>

                        <li class="submenu-category">
                            <a href="#" class="submenu-title">English</a>
                        </li>

                    </ul>
                </li>

                <li class="menu-category">
                    <button class="accordion-menu" data-accordion-btn>
                        <p class="menu-title">Currency</p>
                        <ion-icon name="caret-back-outline" class="caret-back"></ion-icon>
                    </button>

                    <ul class="submenu-category-list" data-accordion>
                        <li class="submenu-category">
                            <a href="#" class="submenu-title">USD &dollar;</a>
                        </li>

                        <li class="submenu-category">
                            <a href="#" class="submenu-title">EUR &euro;</a>
                        </li>
                    </ul>
                </li>

            </ul>

            <ul class="menu-social-container">

                <li>
                    <a href="#" class="social-link">
                        <ion-icon name="logo-facebook"></ion-icon>
                    </a>
                </li>

                <li>
                    <a href="#" class="social-link">
                        <ion-icon name="logo-twitter"></ion-icon>
                    </a>
                </li>

                <li>
                    <a href="#" class="social-link">
                        <ion-icon name="logo-instagram"></ion-icon>
                    </a>
                </li>

                <li>
                    <a href="#" class="social-link">
                        <ion-icon name="logo-linkedin"></ion-icon>
                    </a>
                </li>

            </ul>

        </div>

    </nav>

</header>





<!--
  - MAIN
-->

<main>

    <!--
      - BANNER
    -->

    <div class="banner">
        <div class="container">
            <div class="slider-container has-scrollbar">
                <div class="slider-item">
                    <img src="/static/imgInicio/bannerViaje.jpg" alt="Aprovecha el momento" class="banner-img1">
                    <div class="banner-content">
                        <p class="banner-subtitle">Promoción destacada</p>
                        <h2 class="banner-title">Aprovechá el momento</h2>
                        <h3>Ahorrá un 15% o más si compras tu vuelo antes del 01/10/2024.</h3>
                        <a href="#" class="banner-btn">Buscar ofertones de viaje</a>
                    </div>

                </div>

                <div class="slider-item">

                    <img src="/static/imgInicio/madrid.webp" alt="modern sunglasses" class="banner-img">

                    <div class="banner-content">

                        <p class="banner-subtitle">Promoción destacada</p>

                        <h2 class="banner-title">Los mejores hoteles</h2>
                        <h3>¡Encontrá hoteles a los precios mas accesibles ahora mismo!</h3>

                        <a href="#" class="banner-btn">Hoteles</a>

                    </div>

                </div>

            </div>

        </div>

    </div>

    <!--
      - CATEGORY
    -->

    <div class="category">

        <div class="container">

            <div class="category-item-container has-scrollbar">

                <div class="category-item">

                    <div class="category-img-box">
                        <img src="/static/imgInicio/buenosAires.jpeg" alt="Buenos Aires" width="200">
                    </div>

                    <div class="category-content-box">

                        <div class="category-content-flex">
                            <h3 class="category-item-title">Buenos Aires</h3>
                        </div>

                        <a href="#" class="category-btn">Ver</a>

                    </div>

                </div>

                <div class="category-item">

                    <div class="category-img-box">
                        <img src="/static/imgInicio/montevideo.jpeg" alt="Montevideo" width="200">
                    </div>

                    <div class="category-content-box">

                        <div class="category-content-flex">
                            <h3 class="category-item-title">Montevideo</h3>
                        </div>

                        <a href="#" class="category-btn">Ver</a>

                    </div>

                </div>

                <div class="category-item">

                    <div class="category-img-box">
                        <img src="/static/imgInicio/madrid.webp" alt="Madrid" width="200">
                    </div>

                    <div class="category-content-box">

                        <div class="category-content-flex">
                            <h3 class="category-item-title">Madrid</h3>
                        </div>

                        <a href="#" class="category-btn">Ver</a>

                    </div>

                </div>

                <div class="category-item">

                    <div class="category-img-box">
                        <img src="/static/imgInicio/barcelona2.webp" alt="Barcelona" width="200">
                    </div>

                    <div class="category-content-box">

                        <div class="category-content-flex">
                            <h3 class="category-item-title">Barcelona</h3>
                        </div>

                        <a href="#" class="category-btn">Ver</a>

                    </div>

                </div>

                <div class="category-item">

                    <div class="category-img-box">
                        <img src="/static/imgInicio/nuevaYork.webp" alt="Nueva York" width="200">
                    </div>

                    <div class="category-content-box">

                        <div class="category-content-flex">
                            <h3 class="category-item-title">Nueva York</h3>
                        </div>

                        <a href="#" class="category-btn">Ver</a>

                    </div>

                </div>

                <div class="category-item">

                    <div class="category-img-box">
                        <img src="/static/imgInicio/miami2.jpeg" alt="Miami" width="200">
                    </div>

                    <div class="category-content-box">

                        <div class="category-content-flex">
                            <h3 class="category-item-title">Miami</h3>
                        </div>

                        <a href="#" class="category-btn">Ver</a>

                    </div>

                </div>

                <div class="category-item">

                    <div class="category-img-box">
                        <img src="/static/imgInicio/paris.webp" alt="Paris" width="200">
                    </div>

                    <div class="category-content-box">

                        <div class="category-content-flex">
                            <h3 class="category-item-title">Paris</h3>
                        </div>

                        <a href="#" class="category-btn">Ver</a>
                    </div>

                </div>

                <div class="category-item">

                    <div class="category-img-box">
                        <img src="/static/imgInicio/rio.jpeg" alt="Rio de Janeiro" width="200">
                    </div>

                    <div class="category-content-box">

                        <div class="category-content-flex">
                            <h3 class="category-item-title">Rio de Janeiro</h3>
                        </div>

                        <a href="#" class="category-btn">Ver</a>

                    </div>

                </div>

            </div>

        </div>

    </div>





    <!--
      - PRODUCT
    -->

    <div class="product-container">

        <div class="container">

            <div class="product-box">

                <!--
                  - PRODUCT GRID
                -->

                <div class="product-main">

                    <h2 class="title">Los hoteles preferidos de los huéspedes</h2>

                    <div class="product-grid">

                        <div class="showcase">

                            <div class="showcase-content">

                                <div class="showcase-banner" style="margin-bottom: 20px;">
                                    <img src="/static/imgInicio/fourSeasons.png" alt="" class="product-img default"
                                         width="200">
                                    <img src="/static/imgInicio/fourSeasons.png" alt="" class="product-img hover"
                                         width="200">
                                </div>

                                <a href="#" class="showcase-category">Four Seasons</a>

                                <a href="#">
                                    <h3 class="showcase-title">Buenos Aires</h3>
                                </a>

                                <div class="showcase-rating">
                                    <ion-icon name="star"></ion-icon>
                                    <ion-icon name="star"></ion-icon>
                                    <ion-icon name="star"></ion-icon>
                                    <ion-icon name="star"></ion-icon>
                                    <ion-icon name="star"></ion-icon>
                                </div>

                                <div class="price-box">
                                    <p class="price">$150 usd</p>
                                    <del>US$ 100</del>
                                </div>

                            </div>

                        </div>

                        <div class="showcase">

                            <div class="showcase-content">

                                <div class="showcase-banner" style="margin-bottom: 20px;">
                                    <img src="/static/imgInicio/hotel2.png" alt="" class="product-img default"
                                         width="200">
                                    <img src="/static/imgInicio/hotel2.png" alt="" class="product-img hover"
                                         width="200">
                                </div>

                                <a href="#" class="showcase-category">Stay in palermo</a>

                                <a href="#">
                                    <h3 class="showcase-title">Buenos Aires</h3>
                                </a>

                                <div class="showcase-rating">
                                    <ion-icon name="star"></ion-icon>
                                    <ion-icon name="star"></ion-icon>
                                    <ion-icon name="star"></ion-icon>
                                    <ion-icon name="star"></ion-icon>
                                    <ion-icon name="star"></ion-icon>
                                </div>

                                <div class="price-box">
                                    <p class="price">US$ 30</p>
                                    <del>US$ 40</del>
                                </div>

                            </div>

                        </div>

                        <div class="showcase">

                            <div class="showcase-content">

                                <div class="showcase-banner" style="margin-bottom: 20px;">
                                    <img src="/static/imgInicio/hotel3.jpeg" alt="" class="product-img default"
                                         width="200">
                                    <img src="/static/imgInicio/hotel3.jpeg" alt="" class="product-img hover"
                                         width="200">
                                </div>

                                <a href="#" class="showcase-category">Bungalows Cordial Green Golf</a>

                                <a href="#">
                                    <h3 class="showcase-title">Isla de Gran Canaria</h3>
                                </a>

                                <div class="showcase-rating">
                                    <ion-icon name="star"></ion-icon>
                                    <ion-icon name="star"></ion-icon>
                                    <ion-icon name="star"></ion-icon>
                                    <ion-icon name="star"></ion-icon>
                                    <ion-icon name="star"></ion-icon>
                                </div>

                                <div class="price-box">
                                    <p class="price">US$ 164</p>
                                </div>

                            </div>

                        </div>

                        <div class="showcase">

                            <div class="showcase-content">

                                <div class="showcase-banner" style="margin-bottom: 20px;">
                                    <img src="/static/imgInicio/hotel4.jpeg" alt="" class="product-img default"
                                         width="200">
                                    <img src="/static/imgInicio/hotel4.jpeg" alt="" class="product-img hover"
                                         width="200">
                                </div>

                                <a href="#" class="showcase-category">Radisson Blu Resort & Spa, Gran Canaria Mogan</a>

                                <a href="#">
                                    <h3 class="showcase-title">Puerto de Mogán, España</h3>
                                </a>

                                <div class="showcase-rating">
                                    <ion-icon name="star"></ion-icon>
                                    <ion-icon name="star"></ion-icon>
                                    <ion-icon name="star"></ion-icon>
                                    <ion-icon name="star"></ion-icon>
                                    <ion-icon name="star"></ion-icon>
                                </div>

                                <div class="price-box">
                                    <p class="price">US$ 260</p>
                                </div>

                            </div>

                        </div>

                        <div class="showcase">

                            <div class="showcase-content">

                                <div class="showcase-banner" style="margin-bottom: 20px;">
                                    <img src="/static/imgInicio/hotel5.jpeg" alt="" class="product-img default"
                                         width="200">
                                    <img src="/static/imgInicio/hotel5.jpeg" alt="" class="product-img hover"
                                         width="200">
                                </div>

                                <a href="#" class="showcase-category">Days Inn by Wyndham Montevideo</a>

                                <a href="#">
                                    <h3 class="showcase-title">Montevideo, Uruguay</h3>
                                </a>

                                <div class="showcase-rating">
                                    <ion-icon name="star"></ion-icon>
                                    <ion-icon name="star"></ion-icon>
                                    <ion-icon name="star"></ion-icon>
                                    <ion-icon name="star"></ion-icon>
                                    <ion-icon name="star"></ion-icon>
                                </div>

                                <div class="price-box">
                                    <p class="price">US$ 60</p>
                                    <del>US$ 65</del>
                                </div>

                            </div>

                        </div>

                        <div class="showcase">

                            <div class="showcase-content">

                                <div class="showcase-banner" style="margin-bottom: 20px;">
                                    <img src="/static/imgInicio/hotel6.3.jpeg" alt="" class="product-img default"
                                         width="200">
                                    <img src="/static/imgInicio/hotel6.3.jpeg" alt="" class="product-img hover"
                                         width="200">
                                </div>

                                <a href="#" class="showcase-category">Santa Cruz</a>

                                <a href="#">
                                    <h3 class="showcase-title">Madrid, España</h3>
                                </a>

                                <div class="showcase-rating">
                                    <ion-icon name="star"></ion-icon>
                                    <ion-icon name="star"></ion-icon>
                                    <ion-icon name="star"></ion-icon>
                                    <ion-icon name="star"></ion-icon>
                                    <ion-icon name="star"></ion-icon>
                                </div>

                                <div class="price-box">
                                    <p class="price">US$ 468</p>
                                </div>

                            </div>

                        </div>

                        <div class="showcase">

                            <div class="showcase-content">

                                <div class="showcase-banner" style="margin-bottom: 20px;">
                                    <img src="/static/imgInicio/hotel7.2.jpeg" alt="" class="product-img default"
                                         width="200">
                                    <img src="/static/imgInicio/hotel7.2.jpeg" alt="" class="product-img hover"
                                         width="200">
                                </div>

                                <a href="#" class="showcase-category">Hotel Club de Golf</a>

                                <a href="#">
                                    <h3 class="showcase-title">Mar del Plata, Argentina</h3>
                                </a>

                                <div class="showcase-rating">
                                    <ion-icon name="star"></ion-icon>
                                    <ion-icon name="star"></ion-icon>
                                    <ion-icon name="star"></ion-icon>
                                    <ion-icon name="star-outline"></ion-icon>
                                    <ion-icon name="star-outline"></ion-icon>
                                </div>

                                <div class="price-box">
                                    <p class="price">US$ 45</p>
                                </div>

                            </div>

                        </div>

                        <div class="showcase">

                            <div class="showcase-content">

                                <div class="showcase-banner" style="margin-bottom: 20px;">
                                    <img src="/static/imgInicio/hotel8.jpeg" alt="" class="product-img default"
                                         width="200">
                                    <img src="/static/imgInicio/hotel8.jpeg" alt="" class="product-img hover"
                                         width="200">
                                </div>

                                <a href="#" class="showcase-category">Apart Hotel del Pellin</a>

                                <a href="#">
                                    <h3 class="showcase-title">San Martín de los Andes, Argentina</h3>
                                </a>

                                <div class="showcase-rating">
                                    <ion-icon name="star"></ion-icon>
                                    <ion-icon name="star"></ion-icon>
                                    <ion-icon name="star-outline"></ion-icon>
                                    <ion-icon name="star-outline"></ion-icon>
                                    <ion-icon name="star-outline"></ion-icon>
                                </div>

                                <div class="price-box">
                                    <p class="price">US$ 20</p>
                                </div>

                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>

</main>
<!--
  - FOOTER
-->

<footer>

    <div class="footer-nav">

        <div class="container">


            <ul class="footer-nav-list">

                <li class="footer-nav-item">
                    <h2 class="nav-title">Estadias</h2>
                </li>

                <li class="footer-nav-item">
                    <a href="#" class="footer-nav-link">Prices drop</a>
                </li>


            </ul>

            <ul class="footer-nav-list">

                <li class="footer-nav-item">
                    <h2 class="nav-title">Vuelos</h2>
                </li>

                <li class="footer-nav-item">
                    <a href="#" class="footer-nav-link">Delivery</a>
                </li>

            </ul>

            <ul class="footer-nav-list">

                <li class="footer-nav-item">
                    <h2 class="nav-title">Alquiler de autos</h2>
                </li>

                <li class="footer-nav-item">
                    <a href="#" class="footer-nav-link">Alquiler de taxis</a>
                </li>

            </ul>

            <ul class="footer-nav-list">

                <li class="footer-nav-item">
                    <h2 class="nav-title">Contacto</h2>
                </li>

                <li class="footer-nav-item flex">
                    <div class="icon-box">
                        <ion-icon name="location-outline"></ion-icon>
                    </div>

                    <address class="content">
                        356 Avenida Cordoba -
                        Edificio Franco, CABA, Argentina
                    </address>
                </li>

                <li class="footer-nav-item flex">
                    <div class="icon-box">
                        <ion-icon name="call-outline"></ion-icon>
                    </div>

                    <a href="tel:+63442310036" class="footer-nav-link">(3442) 310036</a>
                </li>

                <li class="footer-nav-item flex">
                    <div class="icon-box">
                        <ion-icon name="mail-outline"></ion-icon>
                    </div>

                    <a href="mailto:example@gmail.com" class="footer-nav-link">francoarmando1911@gmail.com</a>
                </li>

            </ul>

            <ul class="footer-nav-list">

            </ul>

        </div>

    </div>

    <div class="footer-bottom">

        <div class="container">

            <img src="/static/imgInicio/formas-pago.png" alt="payment method" class="payment-img">

            <p class="copyright">
                Copyright &copy; <a href="#"><A>Franco Armando</A></a> all rights reserved. 2024
            </p>

        </div>

    </div>

</footer>

<!--
  - custom js link
-->
<script src="/static/script.js"></script>

<!--
  - ionicon link
-->
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</body>
</html>